/* General */

:root {
  --background-color: #202020;
  --main-dark-color: #353442;
  --main-light-color: #FAF7FF;
  --main-highlight-color: #8685EF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, a, p {
  color: var(--main-light-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Sticky Footer */

html, body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: 0 0 auto;
}

/* Layout + Typography */

body {
  background-color: var(--background-color);
  max-width: 1200px;
  margin: 0 auto;
}

header, header > nav, #about, #projects {
  padding: 0 1.25em;
}

header {
  width: 100%;
  background-color: var(--main-highlight-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  padding: 1.25em;
}

h2.logo > a {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

header > nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  text-align: end;
  background-color: var(--main-dark-color);
  transition: .3s;
  padding: 1.25em;
  z-index: 3;
}

header > nav > svg {
  margin-bottom: .5em;
}

header > nav > ul > li {
  margin-bottom: 1em;

  font-size: 1.5rem;
  font-weight: 500;
}

main {
  flex: 1 0 auto;
}

section {
  margin-bottom: 1.5em;
}

h2.page-secondary-heading {
  font-size: 1rem;
}

h2.section-main-heading {
  font-size: 1.5rem;
  margin-bottom: .15em;
}

h3.section-secondary-heading {
  margin-bottom: .48em;

  font-weight: 500;
  font-size: 1.3rem;
}

p.section-main-desc {
  font-size: 1.25rem;
}

div.section-secondary-desc-wrapper > p {
  font-size: 1rem;
}

#home, #project-home {
  min-height: 450px;
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

#home {
  background: url(/images/laptop.jpg) center center / cover no-repeat;
}

h1.page-main-heading {
  text-align: center;

  font-size: 1.75rem;
}

h2.about-main-heading {
  margin-left: .2em;
}

p.about-main-desc {
  background-color: var(--main-highlight-color);
  padding: .1em .5em;
  margin-bottom: .4em;
}

div.about-secondary-desc-wrapper {
  margin-left: .5em;
  
  font-weight: 300;
}

div.about-secondary-desc-wrapper > p {
  margin-bottom: .5em;
}

h2.projects-main-heading {
  text-align: center;
  margin-bottom: .5em;
}

ul.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

li.project, li.project img {
  border-radius: 1rem;
}

li.project {
  position: relative;
  width: 32%;
  min-width: 80%;
  overflow: hidden;
  cursor: pointer;
  transform: rotate(0); /* Border radius on transform bug fix https://stackoverflow.com/a/56314016/21418256 */
}

li.project img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: .5s;
}

li.project img:hover {
  opacity: .5;
  transform: scale(1.2);
}

#project-home {
  position: relative;
  padding: 3em;
}

#project-home::after {
  content: ' ';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-dark-color);
  opacity: .6;
  z-index: 0;
}

h1.project-main-heading, h2.project-secondary-heading {
  z-index: 1;
  text-align: center;
}

h1.project-main-heading {
  margin-bottom: .2em;
}

#project-about {
  padding: 0 1em;
}

.section-wrapper-item {
  margin-bottom: 1em;
}

ul.links-wrapper {
  display: flex;
}

ul.links-wrapper > li > a {
  transition: .1s;
  display: block;
  border-radius: .5rem;
  margin-right: 1em;
  color: var(--main-highlight-color);
  line-height: 1;
  
  font-weight: 500;
}

ul.links-wrapper > li > a:hover, ul.links-wrapper > li > a:focus {
  color: var(--main-light-color);
}

ul.links-wrapper > li > a:focus {
  outline: none;
}

ul.links-wrapper > li > a > svg {
  margin-right: .2em;
}

#project-about p.section-main-desc {
  margin-bottom: .5em;
  font-size: 1rem;
  font-weight: 300;
}

#project-about ul.section-languages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  margin-bottom: .75em;
}

#project-about ul.section-languages-list > li {
  background-color: var(--main-dark-color);
  color: var(--main-highlight-color);
  min-width: 8%;
  text-align: center;
  padding: .5em 1em;
  border-radius: .5rem;
}

#project-about ul.section-languages-list > li > p {
  font-size: 1rem;
  font-weight: 500;
}

footer {
  background-color: var(--main-dark-color);
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
}

footer > .footer-item {
  width: 50%;
}

footer .main-section-heading {
  margin-bottom: .2em;
}

/* Utility */

.heading-shadow {
  text-shadow: 0px 1px 3px var(--main-dark-color);
}

/* Media Navbar */

@media (min-width: 700px) {
  header > nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: static;
    background-color: transparent;
    padding: 0;
    transition: 0;
  }
  
  header > nav > ul {
    display: flex;
    gap: 1.125em;
  }
  
  header > nav > ul > li {
    margin-bottom: 0;

    font-size: 1rem;
  }
}

/* Media Projects */

@media (min-width: 400px) {
  li.project {
    min-width: 300px;
  }
  
  li.project img {
    height: 300px;
  }
}

@media (min-width: 1120px) {
  li.project {
    min-width: 350px;
  }
  
  li.project img {
    height: 380px;
  }
}

/* Media Fonts */

@media (min-width: 450px) {
  h1.page-main-heading {
    font-size: 2rem;
    text-transform: uppercase;
  }

  h2.section-main-heading {
    font-size: 1.75rem;
  }
  
  p.section-main-desc {
    font-size: 1.4rem;
  }

  #project-about p.section-main-desc {
    font-size: 1.2rem;
  }

}

@media (min-width: 700px) {
  h1.page-main-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  h2.section-main-heading {
    font-size: 2rem;
  }
  
  p.section-main-desc {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  h1.page-main-heading {
    font-size: 4rem;
  }

  h2.page-secondary-heading {
    font-size: 1.2rem;
  }

  h2.section-main-heading {
    font-size: 2.5rem;
  }
  
  p.section-main-desc {
    font-size: 1.5rem;
  }

  div.section-secondary-desc-wrapper > p {
    font-size: 1.125rem;
  }
}

